:root {
    --base-color: white;
    --alternative-color: rgb(110, 110, 230);
    --accent-color: rgb(177, 37, 37);
    --fonts: "Papyrus", "copperplate", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hide {
    display: none;
    animation: fade-out 1s;
}

.show-flex {
    display: flex;
    animation: fade-in 1s;
}

header {
    text-align: center;
    font-family: var(--fonts);
    color: var(--accent-color);
    font-size: 3rem;
    padding: 1rem;
    height: 10%;
}

#select-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
    background-color: var(--base-color);
    gap: 1rem;
}

#select-player>div {
    width: 80%;
    height: 40%;
    background-color: var(--alternative-color);
    color: var(--base-color);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background-color: var(--alternative-color);
    border: none;
    border-bottom: 2px solid var(--accent-color);
    color: var(--base-color);
    margin: 1rem;
}

#select-player>div:has(input)::before {
    content: 'Whats your name?';
    color: var(--base-color);
    font-family: var(--fonts);
    font-size: larger;
}

.first-player {
    position: relative;
    ;
    height: 7rem;
    width: 1rem;
    rotate: 45deg;
    border-radius: 10%;
    background-color: var(--accent-color);
}

.first-player::before {
    position: absolute;
    content: '';
    height: 7rem;
    width: 1rem;
    rotate: 90deg;
    border-radius: 10%;
    background-color: var(--accent-color);
}

.second-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-player::before {
    content: 'Select the second player:';
    color: var(--base-color);
    font-family: var(--fonts);
    font-size: 1.5rem;
}

.second-player>div {
    font-family: var(--fonts);
    font-size: 1.25rem;
    margin: 0.5rem;
}


#start-button {
    padding: 0.5rem;
    font-family: var(--fonts);
    background-color: var(--base-color);
    font-size: larger;
    color: var(--accent-color);
    border-color: var(--alternative-color);
    border-radius: 5%;
}

.second-player>div>button {
    position: absolute;
    left: 50%;
    bottom: -5%;
}

.underlined {
    border-bottom: 3px solid var(--accent-color);
}

#game-play {
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#board {
    width: fit-content;
    background-color: var(--base-color);
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    font-family: 'Courier New', Courier, monospace;
    border: none;
    animation: fade-in 1s;
}

#board>div {
    color: var(--accent-color);
    text-align: center;
    font-size: 80px;
}

#board>div[data-row="0"] {
    border-bottom: 4px solid var(--alternative-color);
    border-top: none;
}

#board>div[data-row="2"] {
    border-bottom: none;
    border-top: 4px solid var(--alternative-color);

}

#board>div[data-column="0"] {
    border-left: none;
    border-right: 4px solid var(--alternative-color);;
}

#board>div[data-column="2"] {
    border-left: 4px solid var(--alternative-color);
    border-right: none;
}

#new-game-btn {
    padding: 1rem;
    font-family: var(--fonts);
    background-color: var(--base-color);
    font-size: larger;
    color: var(--accent-color);
    border-color: var(--alternative-color);
    border-radius: 5%;
    z-index: 99;
}

#display-message {
    scale: 0.9;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 70%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.861);
    color: var(--accent-color);
    font-family: var(--fonts);
    font-size: 80px;
    text-align: center;
    animation: fade-in 1s;
}


@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }